/* Styles for popup box */
.popup-box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    z-index: 1000; /* Ensure it appears on top */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.buttons {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

/* Delete POP UP */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  height: 40px;
  border: none;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
}

.deletebtn {
  background-color: #f44336;
}

.modalcontainer {
  padding: 16px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
} 

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 80%;
  background-color: #f4f4f4;
}

.container {
  width: 60%;
  height: 110%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tabcontainer {
  width: 40%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  border: 1px solid black;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.33%;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 80%;
}

.inputClear{
  font-size: 15px;
  margin-bottom: 1%;
  width: 300px;
}
.buttons {
  cursor: pointer;
  background-color: #ffffff;
  font-size: 15px;
  color: black;
  width: 100px;
  border-radius: 25px;
}
button:hover {
  background-color: #b5b5b5;
}
.check{
  font-size: 12px;
}
input.smallbox{
  width: 10px;
  height: 10px;
}
.lists{
  height: 50%;
  overflow: auto;
}
#update-box{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  width: 50%;
  padding: 20px;
}
#logout-button{
  right: 20%;
  position: absolute;
  font-size: 20px;
  margin: 5px;
}
#title{
  text-align: center;
}