/* Header */
.top-navigation-wrap {
  align-items: center;
  display: flex;
  flex: 1 1;
  height: var(--top-nav-height);
  justify-content: center;
}


body {
  font-family: Arial, sans-serif;
  display: block;
  justify-content: center;
  height: 99%;
  background-image: url("greycreamback.jpeg");
  background-repeat: no-repeat, repeat;
  background-color: #f4f4f4; 
  background-size: cover;
  margin-bottom: 0px;
}
#logout-button{
  right: 0%;
  position: absolute;
  font-size: 30px;
  margin-right: 10px;
  width: auto;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
#logout-button:hover{
  background-color: darkgrey;
}
.container {
  width: 80%;
  height: 80%;
  padding: 20px;
  background-color: #f7f7f6;
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
}

[hidden]{
  display: none !important;
}

#searchSection, #addSection{
  display: flex;
  flex-direction: row;  
  height: 30px;
  margin-bottom: 10px;
}
#searchSection button, #add-section-button{
  font-size: 18px;
  margin: 0px 10px;
}
#searchSection input{
  width: 15%;
  margin-right: 20px;
}

#search-title, #add-title{
  margin: 10px 0px;
  width: 100%;
}
button{
  cursor: pointer;
  width: 80px;
}
button:hover{
  background-color: #b5b5b5;
}

.update-content {
  background-color: inherit;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}
.update-content input{
  font-size: 18px;
}

.buttons {
  padding: 10px 15px;
  margin: 10px;
  background-color: #ffffff;
  color: black;
  width: 100px;
  border-radius: 25px;
  font-size: 15px;
}
.deletebtn {
  background-color: #f44336;
  color: white;
}
.deletebtn:hover{
  background-color: #ae0000;
}

.modalcontainer {
  padding: 16px;
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}
.modal-content {
  background-color: #fefefe;
  margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  max-width: 400px; /* Could be more or less, depending on screen size */
  border-radius: 10px;
} 
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#update-box{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  width: 50%;
  padding: 20px;
}
#add-button, #search-button{
  background-color: black;
  color: white;
  width: 100px;
  border-radius: 5px;
  font-size: 20px;
  padding: 0.15rem;
}
#add-button:hover, #search-button:hover{
  background-color: darkgrey;
}
.add-input{
  width: 15%;
}
.results{
  color: red;
  white-space: pre-wrap;
  text-align: center;
  margin: auto;
}

table { 
  border-collapse: collapse; 
  width: 100%; 
}

th, td { 
  border-bottom: 1px solid #dddddd;
  background: white; 
  font-size: 18px;
  padding: 10px 0px;
  width: 20%;
  text-align: left;
  background-color: #f7f7f6; 
}
table button{
  font-size: 18px;
  margin: 0px 10px;
}
table input{
  width: 80%;
  font-size: 18px;
}
.table-buttons{
  text-align: center;
}
table thead th {
  position: sticky;
  top: 0;
}
#tableSection {
  overflow: auto;
  height: 75%;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.required-asterisk {
  color: red;
  margin-right: 14px;
  cursor: pointer;
  position: relative;
  vertical-align: sub;
}
.required-asterisk::after {
  content: "Required Field";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.required-asterisk:hover::after {
  opacity: 1;
  visibility: visible;
}
