body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    box-sizing:border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:required {
    border-left: 5px solid red;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    color: green;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}

.required-asterisk {
    color: red;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    vertical-align: sub;
}

.required-asterisk::after {
    content: "Required Field";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.required-asterisk:hover::after {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none;
}

.contacts {
    margin-top: 20px;
}

.contacts table {
    width: 100%;
    border-collapse: collapse;
}

.contacts th, .contacts td {
    border: 1px solid #ddd;
    padding: 8px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}
#signup {
    display: none;
}

#login a, #signup a{
    margin-top: 1rem;
}
